.git/
.github/
.gitignore

__pycache__/

.env
.env.*
service.json
service.json.*
state.json

docker-compose.yml
Dockerfile
.dockerignore

scripts/
tests/
run_tests.py
pyrightconfig.json
README.md
requirements.in
update_dependencies.sh
.editorconfig
.direnv
.devenv
.envrc
devenv.lock
devenv.nix
.devenv.flake.nix
