.*/
**/__pycache__/
**/*.pyc
tests/
data/
init-db/

*.json
*.live
*.staging
*.lock
*.nix
*.md

docker-compose.yml
Dockerfile
.dockerignore
Makefile
requirements.in
requirements-dev.in

run_tests.py

.env
.gitignore
.editorconfig
.direnv
.devenv
.envrc
