.git/
.github/
.gitignore

__pycache__/

.env
.env.*
service.json
service.json.*
state.json

.bumpversion.cfg
.editorconfig

docker-compose.yml
Dockerfile

scripts/
tests/
run_tests.py
pyrightconfig.json
README.md
requirements.in
update_dependencies.sh
.envrc
.devenv.lock
.devenv.nix
.devenv.flake.nix
