aiofiles==25.1.0
    # via ironforgedcore
aiohappyeyeballs==2.7.1
    # via aiohttp
aiohttp==3.14.1
    # via
    #   ironforgedcore
    #   wom-py
aiomysql==0.3.2
    # via ironforgedcore
aiosignal==1.4.0
    # via aiohttp
alembic==1.18.5
    # via ironforgedcore
annotated-types==0.7.0
    # via pydantic
anyio==4.14.2
    # via httpx2
attrs==26.1.0
    # via aiohttp
black==26.5.1
    # via -r requirements-dev.in
build==1.5.1
    # via pip-tools
click==8.4.2
    # via
    #   black
    #   pip-tools
concurrent-log-handler==0.9.29
    # via ironforgedcore
frozenlist==1.8.0
    # via
    #   aiohttp
    #   aiosignal
greenlet==3.5.3
    # via sqlalchemy
h11==0.16.0
    # via httpcore2
httpcore2==2.5.0
    # via httpx2
httpx2==2.5.0
    # via -r requirements-dev.in
idna==3.18
    # via
    #   anyio
    #   httpx2
    #   yarl
ironforgedcore @ git+https://github.com/ironforgedclan/ironforgedcore.git@v0.1.0
    # via -r requirements-dev.in
mako==1.3.12
    # via alembic
markupsafe==3.0.3
    # via mako
msgspec==0.21.1
    # via wom-py
multidict==6.7.1
    # via
    #   aiohttp
    #   yarl
mypy-extensions==1.1.0
    # via black
packaging==26.2
    # via
    #   black
    #   build
    #   wheel
pathspec==1.1.1
    # via black
pip-tools==7.5.3
    # via -r requirements-dev.in
platformdirs==4.10.0
    # via black
portalocker==3.2.0
    # via concurrent-log-handler
propcache==0.5.2
    # via
    #   aiohttp
    #   yarl
pydantic==2.13.4
    # via ironforgedcore
pydantic-core==2.46.4
    # via pydantic
pymysql==1.2.0
    # via aiomysql
pyproject-hooks==1.2.0
    # via
    #   build
    #   pip-tools
python-dateutil==2.9.0.post0
    # via ironforgedcore
python-dotenv==1.2.2
    # via ironforgedcore
pytokens==0.4.1
    # via black
pyyaml==6.0.3
    # via watchdog
six==1.17.0
    # via python-dateutil
sqlalchemy[asyncio]==2.0.51
    # via
    #   alembic
    #   ironforgedcore
strenum==0.4.15
    # via ironforgedcore
truststore==0.10.4
    # via
    #   httpcore2
    #   httpx2
typing-extensions==4.16.0
    # via
    #   alembic
    #   pydantic
    #   pydantic-core
    #   sqlalchemy
    #   typing-inspection
typing-inspection==0.4.2
    # via pydantic
watchdog[watchmedo]==6.0.0
    # via -r requirements-dev.in
wheel==0.47.0
    # via pip-tools
wom-py==3.1.0
    # via ironforgedcore
yarl==1.24.2
    # via aiohttp

# The following packages are considered to be unsafe in a requirements file:
# pip
# setuptools
