python-dotenv==1.0.1
discord.py==2.4.0
requests==2.32.2
google-auth==2.27.0
google-api-python-client==2.115.0
pytz==2023.3.post1
StrEnum==0.4.15
apscheduler==3.10.4
reactionmenu==3.1.7
wom.py==0.9.5
concurrent-log-handler==0.9.25
