python-dotenv
discord.py
requests
gspread
google-auth
pytz
StrEnum
apscheduler
reactionmenu
wom.py
concurrent-log-handler
python-dateutil
aiohttp
aiofiles
tabulate
Pillow
sqlalchemy[asyncio]
aiomysql
alembic
audioop-lts # https://github.com/Rapptz/discord.py/issues/9742
oauth2client
black
